*,::after,::before {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #EAEDED;
}


/* Slider Arrows */
.sliderPrevSlide {
  padding-left: .8rem;
  font-size: 2rem;
}

.sliderNextSlide {
  right: 0;
  padding-right: .8rem;
}

